svg {
    background-color: rgb(191, 216, 242);
}

.country {
    fill: #eee;
}

.country.UKR {
    fill: #fff;
}

.country-boundary {
    fill: none;
    stroke: #aaa;
}

.region {
    fill: transparent;
}

.region-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.region-label {
    fill: #888;
    fill-opacity: .8;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-anchor: middle;
}

.coastline, .river, .lake {
    stroke: rgb(83, 168, 231);
}

.coastline, .river {
    fill: none;
}

.lake {
    fill: rgb(191, 216, 242);
}

.draggable {
    text-anchor: start;
    cursor: pointer;
    text-anchor: middle;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
